@*
    ViewBag.Title = "Listado de productos";
*@
@{
    ViewBag.Title = "Listado de productos";
}

<h2>Listado de productos</h2>

<ul>
    <li>Pan</li>
    <li>Leche</li>
    <li>Queso</li>
    <li>Huevos</li>
    <li>Frutas</li>
</ul>

<p>@Html.ActionLink("Volver", "Index", "Home")</p>